<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERSServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletOne</display-name>
    <servlet-name>servletOne</servlet-name>
    <servlet-class>com.revature.servlets.servletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletOne</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletTwo</display-name>
    <servlet-name>servletTwo</servlet-name>
    <servlet-class>com.revature.servlets.servletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletTwo</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.revature.servlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
</web-app>